@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate__faster {
    animation-duration: 0.15s;
}